<?xml version="1.0"?>
<config>
    <modules>
        <Firecart_FirecartIntegration>
            <version>0.1.0</version>
        </Firecart_FirecartIntegration>
    </modules>
    <global>
        <helpers>
            <firecartintegration>
                <class>Firecart_FirecartIntegration_Helper</class>
            </firecartintegration>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <!--<controller_action_layout_generate_blocks_after>-->
                <observers>
                    <firecartintegration>
                        <type>singleton</type>
                        <class>Firecart_FirecartIntegration_Model_Observer</class>
                        <method>placeCustomJs</method>
                    </firecartintegration>
                </observers>
                <!--</controller_action_layout_generate_blocks_after>-->
            </controller_action_layout_load_before>
            
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <firecartintegration>
                        <type>singleton</type>
                        <class>Firecart_FirecartIntegration_Model_Observer</class>
                        <method>logCartAdd</method>
                    </firecartintegration>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <sales_quote_remove_item>
                <observers>
                    <firecartintegration>
                        <type>singleton</type>
                        <class>Firecart_FirecartIntegration_Model_Observer</class>
                        <method>logCartRemove</method>
                    </firecartintegration>
                </observers>
            </sales_quote_remove_item>
        </events>
        <models>
            <firecartintegration>
                <class>Firecart_FirecartIntegration_Model</class>
            </firecartintegration>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <firecart_firecartintegration module="Firecart_FirecartIntegration">
                    <file>firecart_firecartintegration.xml</file>
                </firecart_firecartintegration>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firecart_options>
                                            <title>Firecart Module Section</title>
                                        </firecart_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 